body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: lightgray;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#side {
  float: right;
  width: auto;
  margin-top: 0px;
  border-top: 0px;
}
.side button {
  width: 100%;
  background-color: lightgray;
}

.side .active {
  background-color: lightblue;
}

.active {
  background-color: lightblue;
}
header {
  border: 2px solid gray;
  height: 40px;
  margin-bottom: 0px;
}

h1 {
  line-height: 10px;
  font-size: 25px;
}
.side ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  text-align: left;
}
ul.buttons {
  list-style: none;
  margin: 0px;
  padding: 0px;
  text-align: left;
}
table,
td,
th {
  border: 1px solid black;
  background: lightgray;
  color: black;
}

table,
th,
td {
  border: 1px solid black;
}

tr:nth-child(2n) {
  background-color: lightgray;
}
td {
  padding: 10px;
}
